:root {
    /* declare a variable with `--` syntax */
    --text: black;
    --shadow: rgb(54, 196, 240);
}

/* background image of header */
.coding-image{
    padding: 7em 0;
    background-image: url(../img/coding.jpg);
    background-size: auto;
    border-color: gray;
}

/* Styling "Shawn Miller in the center of the page with color */
header h1 {
    /* display: inline-block; */
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    font-variant:small-caps;
    font-size: 500%;
    width: 50;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px blue;
    color: white;
    /* background-color: rgb(109, 109, 109);
    padding: 15px;
    border-radius: 50px; */
}
/* personal photo */
img{
    position: relative;
    margin-left: 30px;
    width: 300px;
    border-radius: 100%;
}

/* Navigation Bar off the right below "Shawn Miller" */
nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/* Put nav bar inline */
li {
    display: inline-block;
    margin-left: 25px;
}

/* Turn nav bar blue when hovering over it */
a:hover {
    color:rgb(0, 102, 255);
}

/* Change the color of the href links */
 a {
    color: #ffffff;
    text-decoration: none;
}
/* Background of whole page */
body {
    background-color: lightgrey;
}

/* 'about me' section flex */
.about-me{
    display: flex;
    height: 5%;
    padding: 10px;    
}

/*heading for 'about me' section */
.about-me h2 {
    margin-left: 5%;
    margin-right: 1%;
    font-size: 300%;
    font-family: cursive;
    width: 46%;
    font-style: italic;
    color: var(--text);
    text-shadow: 2px 2px var(--shadow);
    text-align: right;
}

/* about me paragraph with border */
.about-me p {
    Padding: 10px;
    Border-style: outset;
    border-color:rgb(109, 109, 109);
    border-radius: 10px;
    margin-right: 10%;

}

/* Putting the 'class projects' inline */
#class-projects {
    display:inline;
}

/* adding styling the class projects main heading */
#class-projects h2 {
    position: absolute;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 300%;
    font-family: cursive;
    width: 22%;
    height: 3em;
    font-style: italic;
    color: var(--text);
    text-shadow: 2px 2px var(--shadow);
    text-align: right;
}

/* adding padding and margin to entire 'project 1' */
.project-1 {
    padding: 2%;
    margin-left: 20%;
}

/* adding stylings to 'project 1' heading */
.project-1 h3 {
    font-size: 200%;
    font-family: cursive;
    width: 50%;
    height: 2em;
    font-style: italic;
    color:var(--text);
    text-shadow: 2px 2px var(--shadow);
    text-align: center;
    text-decoration: underline;
}

/* adding background image and stylings to 'project 1' box */
.project-1 p {
    width: 50%;
    height: 400px;
    Padding: 50px;
    text-align: center;
    font-weight: 800;
    Border-style: outset;
    border-color:black;
    border-radius: 10px;
    margin-right: 10%;
    background-image: url(../img/scratchgame.jpg);
    background-size: cover;
    
}

/* adding back ground rounded corners to the link inside 'project 1' box */
.project-1 a {
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}

/* adding padding and margin to entire 'project 2' */
.project-2 {
    padding: 2%;
    margin-left: 20%;
}

/* adding stylings to 'project 2' heading */
.project-2 h3 {
    font-size: 200%;
    font-family: cursive;
    width: 50%;
    height: 2em;
    font-style: italic;
    text-shadow: 2px 2px var(--shadow);
    text-align: center;
    text-decoration: underline;
}

/* adding background image and stylings to 'project 2' box */
.project-2 p {
    width: 50%;
    height: 400px;
    Padding: 50px;
    text-align: center;
    font-weight: 800;
    Border-style: outset;
    border-color:black;
    border-radius: 10px;
    margin-right: 10%;
    background-image: url(../img/horiseon.jpg);
    background-size: cover;
}

/* adding back ground rounded corners to the link inside 'project 2' box */
.project-2 a {
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}

/* adding padding and margin to entire 'project 3' */
.project-3 {
    padding: 2%;
    margin-left: 20%;
}

/* adding stylings to 'project 3' heading */
.project-3 h3 {
    font-size: 200%;
    font-family: cursive;
    width: 50%;
    height: 2em;
    font-style: italic;
    text-shadow: 2px 2px var(--shadow);
    text-align: center;
    text-decoration: underline;
}
/* adding background image and stylings to 'project 3' box */
.project-3 p {
    width: 50%;
    height: 400px;
    Padding: 50px;
    text-align: center;
    font-weight: 800;
    Border-style: outset;
    border-color:black;
    border-radius: 10px;
    margin-right: 10%;
    background-image: url(../img/underconstruction.jpg);
    background-size: cover;
}

/* adding back ground rounded corners to the link inside 'project 3' box */
.project-3 a {
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}

/* moving and styling 'contact me' heading to match other headings */
.contact-me h2 {
    margin-left: 3%;
    margin-right: 1%;
    font-size: 300%;
    font-family: cursive;
    font-style: italic;
    color: var(--text);
    text-shadow: 2px 2px var(--shadow);
    text-align: left;
}

/* moved contact info to line up with about items on page */
.contact-me p {
    box-sizing: border-box;
    margin-left: 400px;
    Padding: 10px;
}

/* moving and styling 'resume' heading to match other headings */
.resume h2 {
    margin-left: 5%;
    margin-right: 1%;
    font-size: 300%;
    font-family: cursive;
    font-style: italic;
    color: var(--text);
    text-shadow: 2px 2px var(--shadow);
    text-align: left;
}

/* moved resume link to line up with contact info */
.resume p {
    box-sizing: border-box;
    margin-left: 400px;
    Padding: 10px;
}

/* changed the resume link from white to black */
#resume a {
    color: black;
}

#resume a:hover {
    color:rgb(0, 102, 255);
}


footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

@media screen and (max-width: 768px) {

/* Use flex-direction stack the header */
.coding-image {
    display: flex;
    flex-wrap: wrap;
}

/* shrink my name */
.coding-image h1 {
    font-size: 400%;
    margin-left: 10px;
}

/* give some space between heading and projects */
#class-projects h2 {
    position: relative;
}

/* adding width and margins to the projects so they are not squished */
.project-1 p {
    margin-top: 50px;
    margin-right: 10px;
    width: 500px;
    justify-content: center;
}

.project-2 p {
    margin-top: 50px;
    margin-right: 10px;
    width: 500px;
}

.project-3 p {
    margin-top: 50px;
    margin-right: 10px;
    width: 500px;
}


/* move contact info to fit screen */
.contact-me p {
    margin: 0%;
    text-align: center;
}

/* move resume link to fit screen */
.resume p {
    margin: 0%;
    text-align: center;    
}
}